aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
anyio==4.12.0
attrs==25.4.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
flatbuffers==25.9.23
flet==0.28.3
flet-desktop==0.28.3
frozenlist==1.8.0
geoip2==5.2.0
greenlet==3.3.0
h11==0.16.0
h3==4.3.1
httpcore==1.0.9
httpx==0.28.1
idna==3.11
maxminddb==3.0.0
multidict==6.7.0
numpy==2.3.5
oauthlib==3.3.1
playwright==1.56.0
pproxy==2.7.9
propcache==0.4.1
pycparser==2.23
pyee==13.0.0
PySocks==1.7.1
pytz==2025.2
repath==0.9.0
requests==2.32.5
six==1.17.0
timezonefinder==8.1.0
typing_extensions==4.15.0
urllib3==2.6.0
yarl==1.22.0
